<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Schedulink</title>
    <meta name="author" content="David Grzyb">
    <meta name="description" content="">

    <!-- Tailwind -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

</head>

<body class="bg-white h-screen" style="font-family: 'Poppins', sans-serif;">

    <div class="w-full flex flex-wrap">

        <!-- Login Section -->
        <div class="w-full md:w-1/2 flex flex-col">

            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                <a href="../landing.html"
                    class="flex items-center text-indigo-400 no-underline hover:no-underline font-bold text-2xl lg:text-2xl">
                    <svg class="h-8 fill-current text-indigo-600 pr-2" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20">
                        <path
                            d="M10 20a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm-5.6-4.29a9.95 9.95 0 0 1 11.2 0 8 8 0 1 0-11.2 0zm6.12-7.64l3.02-3.02 1.41 1.41-3.02 3.02a2 2 0 1 1-1.41-1.41z" />
                    </svg> Schedulink
                </a>
            </div>

            <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <p class="text-center text-3xl">Welcome.</p>
                <form class="flex flex-col pt-3 md:pt-8" method="POST" >
                                    {% csrf_token %}

                    <div class="flex flex-col pt-4">
                        <label for="name" class="text-lg">name</label>
                                            {{form.username}}
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">Password</label>
                                            {{form.password}}
                    </div>

                    <button type="submit"
                        class="mt-10 px-3 py-3 bg-indigo-500 text-white rounded-sm hover:bg-black hover:text-white ease-in duration-100 "><span

                            class="px-8 py-8 text-sm ">Log in</span></button>
                </form>
                <div class="text-center pt-12 pb-12">
                    <p>Don't have an account? <a href="{% url 'signup' %}"
                            class="underline font-semibold text-indigo-800">Register here.</a>
                    </p>
                </div>
            </div>

        </div>

        <!-- Image Section -->
        <div class="w-1/2 shadow-2xl">
            <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
        </div>
    </div>

</body>

</html>