<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" />
    <script src="https://kit.fontawesome.com/23ec1d83f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <title>Schedulink</title>
</head>

<body class="font-['Poppins'] bg-indigo-100">
    <div id="box" class="flex">
        <nav class="flex-1/3 w-60 h-[100vh] p-2 sticky top-0 bg-indigo-700">
            <span class="mx-auto px-6 py-4 text-white text-xl font-semibold text-center">Schedulink</span>


            <ul class="w-30 h-16 px-6 py-4 text-violet-300 justify-start items-center gap-6 ">

                <li
                    class="list-none mx-auto mt-4 px-6 py-4 hover:text-violet-100 hover:bg-indigo-600 hover:rounded-full">
                    <a class="text-sm" href="{% url 'adminl' %}"><i class="fa-solid fa-house text-sm"></i><span
                            class="px-3 py-4">Dashboard</span></a>
                </li>
                <li
                    class="list-none mx-auto mt-4 px-6 py-4 hover:text-violet-100 hover:bg-indigo-600 hover:rounded-full">
                    <a class="text-sm" href="{% url 'admint' %}"><i
                            class="fa-solid fa-chalkboard-user text-sm"></i><span class="px-3 py-4">Teachers</span></a>
                </li>
                <li
                    class="list-none mx-auto mt-4 px-6 py-4 hover:text-violet-100 hover:bg-indigo-600 hover:rounded-full">
                    <a class="text-sm" href="{% url 'adminrm' %}"><i class="fa-solid fa-door-closed text-sm"></i><span
                            class="px-3 py-4">Classrooms</span></a>
                </li>
                <li
                    class="list-none mx-auto mt-4 px-6 py-4 hover:text-violet-100 hover:bg-indigo-600 hover:rounded-full">
                    <a class="text-sm" href="{% url 'adminr' %}"><i
                            class="fa-solid fa-calendar-days text-sm"></i><span class="px-3 py-4">Routines</span></a>
                </li>

                <a href="./landing.html">
					    {% if user.is_authenticated %}
					        <a href="">
           			 		<i class="icon-user">
<!--								<label>{{ user.username }}</label>-->
            				</i>
        					</a>
                        <a href="{% url 'signup' %}">
                    <button

                        class="mt-10 px-3 py-3 bg-indigo-500 text-violet-200 rounded-full hover:bg-white hover:text-black ease-in duration-100 "><span
                            class="px-8 py-8 text-sm ">Sign out</span></button></a>

            </ul>
            {% endif %}
        </nav>

        <section id="Classroom" class="flex-col w-2/3 ">




            <h2 class="m-10 font-bold text-indigo-900 text-sm">Classrooms</h2>



            <div id="Classroom_list_box" class="w-full bg-white rounded-lg m-4 mx-12 p-5">
                <!-- <h3 class="text-left m-4 p-5 font-semibold text-indigo-900 text-lg"> list</h3> -->
                <div id="Classroom_list">
                    <div class="m-5 flex overflow-x-auto rounded-lg bg-indigo-100 text-indigo-900">
                        <div div id="titlesabcs" class="space-between flex w-full justify-between text-sm px-4 py-2">
                            <span class="p-2.5  font-semibold">Classroom</span>
                            <span class="p-2.5 font-semibold">Faculty</span>
                            <span class="p-2.5 font-semibold">Semester</span>
                            <span class="p-2.5  font-semibold">Actions</span>
                        </div>

                    </div>

                    <div class="Classroomsentries">
                        <div class="m-5 flex overflow-x-auto rounded-lg bg-indigo-100 text-black">
                            {% for class in classrooms %}
                            <div id="titlesabcs" class="space-between flex text-sm w-full justify-between px-4 py-2">

                                <span class="p-2 font-light">{{class.Classroom}}</span>
                                <span class="p-2 font-light">{{class.Faculty}}</span>
                                <span class="p-2 font-light">{{class.Sem}}</span>
                                <div
                                    class="flex items-center bg-indigo-500 text-white py-2 px-2 rounded-lg focus:outline-none">
                                    <!-- Edit Button -->
                                    <button id="editButton"
                                        class="bg-indigo-500 text-white py-2 px-2 rounded-lg focus:outline-none hover:bg-indigo-600hover:bg-indigo-600 hover:text-green-400">
                                        <i class="fas fa-edit"></i>
                                    </button>

                                    <!-- Delete Button -->
                                    <button id="deleteButton"
                                        class="bg-indigo-500 text-white py-2 px-2 rounded-lg focus:outline-none hover:bg-indigo-600hover:bg-indigo-600 hover:text-red-400">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>

                            </div>
                       {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

        </section>
</body>

</html>